@import '../../index.scss';

.dropdown {
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 40px;
  position: relative;
  transition: .2s;

  &:hover { border: 1px solid $black }

  .dd-icon {
    @include abs-center;
    font-size: 22px;
    left: 40px;
  }

  p {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%; left: 70px;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    user-select: none;
  }

  .dropdown-arrow {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -35%) rotate(0deg);
    top: 50%; right: 5%;
    user-select: none;
    transition: .2s;

    &.active {
      transform: translate(-65%, -85%) rotate(-270deg);
    }
  }

  .dropdown-content {
    @include abs-center;
    @include shadow;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    border-radius: 40px;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;

    &.active {
      transform: translate(-50%, -50%) scale(1);
    }

    .item {
      user-select: none;
      text-align: center;
      font-size: 22px;
      line-height: 150%;
      border-radius: inherit;
      transition: .2s;

      &:hover {
        color: white;
        background: $color;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  .dropdown-overlay {
    height: 0;

    &.active {
      @include size(100vw, 100vh);
      z-index: 9;
      position: fixed;
      top: 0; left: 0;
    }
  }
}