@import '../../index.scss';

.dropdown {
  $width: 190px;

  width: $width;
  position: relative;

  .dropdown-arrow {
    color: white;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    top: 70%; left: 85%;
    user-select: none;
    pointer-events: none;
    transform: translate(-70%, -85%) rotate(0deg);
    transition: .2s;

    &.active {
      transform: translate(-65%, -85%) rotate(-270deg);
    }
  }

  .dropdown-content {
    @include abs-center;
    @include hover;
    z-index: 10;
    width: $width;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    border-radius: 30px;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;

    &.active {
      transform: translate(-50%, -50%) scale(1);
    }

    .item {
      user-select: none;
      font-size: 20px;
      line-height: 1.7em;
      border-radius: inherit;
      transition: .2s;

      &:hover {
        color: white;
        background: $color;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  .dropdown-overlay {
    height: 0;

    &.active {
      z-index: 9;
      position: fixed;
      background: rgba(255, 255, 255, 0.4);
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
}