@import '../../styles';

.toggle-btn {
  $width: 57px;
  $height: 33px;
  $circle: $height - 5px;

  @include size($width, $height);
  @include flex-center;
  justify-content: flex-start;
  box-sizing: border-box;
  background: #777777;
  border-radius: $height;
  position: relative;
  transition: .3s;
  margin-top: 2px;
  cursor: pointer;

  .circle {
    @include size($circle);
    position: absolute;
    transform: translate(0, -60%);
    top: 50%; left: 3px;
    background: white;
    border-radius: 50%;
    transition: .4s;
    position: relative;
  }

  &:hover { @include shadow }

  &.active {
    @extend .toggle-btn;
    background: $color;
  
    .circle {
      background: white;
      margin-left: $width - $height;
    }
  
    .label {
      color: white;
      margin-left: -5%;
    }
  
    &:hover { @include hover }
  }
}

