@import '../../styles';

.toggle-btn {
  @include size(57px, 33px);
  @include flex-center;
  justify-content: flex-start;
  background: grey;
  border-radius: 40px;
  position: relative;
  transition: .3s;
  cursor: pointer;

  margin-top: 2px;

  .circle {
    @include size(28px);
    position: absolute;
    transform: translate(0, -52%);
    top: 50%;
    left: 3px;
    background: white;
    border-radius: 50%;
    transition: .4s;
  }

  &:hover {
    @include shadow
  }

  &[state=true] {
    background: $blue;

    .circle {
      margin-left: 23px;
    }
  }
}