@import '../../styles';

.start-bg {
  @include flex-center;
  background: $gradient-white;
  height: 100vh;
  overflow: hidden;

  .start-content {
    box-sizing: border-box;
    display: flex;
    max-width: 1280px;
    width: 100%;
    padding: 0 30px;
    margin-top: $nav-size;
    position: relative;
      
    .txt-container{
      width: 40%;
      margin-top: 15%;
      position: absolute;
  
      header {
        font-size: 70px;
        font-weight: 500;

        b { 
          font-weight: inherit;
          color: $color;
        }
      }
      p { font-size: 24px }

      .fix-margin { margin-left: -10px }
    }
    .img-container {
      text-align: right;
      width: 100%;
      
      img { 
        @include size(900px);
        margin-right: -10%;
        user-select: none;
      }
    }
  }
}


