@import '../../styles';

#register-page {
  background: url('../../img/landing/e-bg.png') center center;
  background-size: cover;
}

#register-page-content {
  max-width: 1280px;
  padding: 0 30px;
  min-height: 100vh;
  margin: auto;
}

#start-text-container {
  margin-top: 200px;
  position: absolute;
}

#start-img-container {
  text-align: right;
  width: 100%;
}

#start-img {
  @include size(900px);
  margin-right: -10%;
  user-select: none;
}

#register-form {
  @include size(480px, 650px);
  @include shadow;
  @include flex-center(column);
  justify-content: space-evenly;
  margin-top: 160px;
  position: absolute;
  background: white;
  border-radius: 40px;
  padding: 50px 70px;
}

#register-form-radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#register-form-footer {
  @include flex-center(column);
}

#register-switch-form {
  color: $color;
  margin-top: 20px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.1);
  }
}

#password-hint {
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 16px;
}

@media only screen and (max-width: 1080px) {

  //ipad horizontal
  #start-img {
    @include size(500px);
    margin-right: 0;
    margin-top: 150px;

  }

  #register-form {
    @include size(450px, 650px);
    margin-top: 120px;
    position: absolute;
    margin-left: 20px;
  }

  h3 {
    font-size: 30px;
  }

  Input {
    margin: 5px;
  }

  @media only screen and (min-height: 1320px) {

    //ipad pro vertical
    #start-img {
      @include size(700px);
      margin: 0 auto;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    #register-form {
      @include size(70vw, 40vh);
      margin: 0 auto;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    Input {
      margin: 10px;
      padding: 5px;
    }

  }
}

@media only screen and (max-width: 930px) {

  //phone vertical
  #start-img {
    @include size(35vh);
    margin: 0 auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  #register-form {
    @include size(90vw, 90vh);
    margin: 0 auto;
    position: absolute;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    font-size: 30px;
  }

  Input {
    margin: 5px;
  }

  p {
    font-size: 20px;
  }

  #register-form-radio-group {

    max-width: 370px;
  }

  @media only screen and (max-height:770px) {
    #start-img {
      @include size(0);
    }

    h3 {
      margin-top: 100px;
    }
  }

  @media only screen and (max-height:450px) {
    #start-img {
      @include size(0);
    }

    #register-form {
      @include size(90vw, 500px);
      margin: 0px 0px 20px 0px;
      position: absolute;
      padding-left: 5vh;
      padding-right: 5vh;
      padding-bottom: 30vw;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h3 {
      padding-top: 100px;
    }

  }
}