@import '../../styles';

.learn-page-bg {
  height: 100%;
  padding: $nav-size 0;

  .learn-content {
    box-sizing: content-box;
    max-width: 1280px;
    height: 100%;
    margin: auto;
    padding: 0 30px;
  }

  .all-room {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
}

.CARD-XL {
  @include size(100%, 450px);
  background: $color-alt;
  border-radius: 60px;
}