@import '../../index.scss';

$test: linear-gradient(to left, #7f51fd, #ad8cfc);

.custom-btn {
  $width: 190px;
  $height: 45px;

  @include size($width, $height);
  @include flex-center;
  background: $gradient-alt;
  border: none;
  border-radius: 30px;
  font-family: inherit;
  cursor: pointer;

  label {
    pointer-events: none;
    user-select: none;
    color: white;
    font-size: 20px;
  }

  &:focus { outline: none }

  &:hover {
  }
}





