@import '../../styles';

#profile-page-bg {
  background: $gradient-white;
  padding-top: $nav-size;
  min-height: 100vh;
}

#profile-page-content {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}

#user-card {
  @include size(440px, 600px);
  @include shadow;
  @include flex-center(column);
  justify-content: space-between;
  background: white;
  position: relative;
  border-radius: 40px;
  padding: 60px;
  padding-bottom: 40px;
}

#user-picture {
  @include size(250px);
  background: lightblue;
  border-radius: 50%;
  position: relative;
  user-select: none;
}

#user-edit-btn {
  @include flex-center;
  @include abs-center;
  @include size(60px);
  top: 90%;
  left: 80%;
  background: $grey;
  border: 5px solid white;
  border-radius: 50%;
  transition: .2s;
  animation: scale-up 2s 1;
  cursor: pointer;

  &:hover {
    background: $color;
  }
}

#user-pic-left {
  @extend #user-edit-btn;
  top: 50%;
  left: -15%;
}

#user-pic-right {
  @extend #user-edit-btn;
  top: 50%;
  left: 115%;
}

#user-name {
  font-size: 36px;
  font-weight: 500;
}

#user-name-edit {
  font-family: inherit;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  width: 70%;
  border-radius: 40px;
  border: 1px solid $grey;
  transition: .2s;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid $color;
  }
}

#user-role {
  margin-top: -15px;
  font-size: 16px;
  color: grey
}

#user-level {
  font-size: 22px;
}

#user-expbar {
  @include size(100%, 10px);
  background-color: lightgray;
  border-radius: 40px;
}

#user-expbar-progress {
  @include size(50%, 100%);
  border-radius: inherit;
}

#user-fam {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-fam-box {
  @include flex-center(column);
  flex: .5;
  height: 70px;
  border-radius: 10px;
  transition: .2s;

  &:hover {
    background: $lightgrey;
    cursor: pointer;
  }
}

.user-fam-number {
  font-size: 22px;
  font-weight: 500;
  pointer-events: none;
}

.user-fam-title {
  font-size: 18px;
  pointer-events: none;
}

#user-own-room {
  @include size(560px, 600px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.user-follow-btn {
  @extend #user-edit-btn;
  animation: scale-up 2s 1;

  &.active {
    background: $color;
    color: white
  }
}

@keyframes scale-up {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
}