@import '../../styles';

#popup-overlay {
  @include size(100vw, 100vh);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

#popup-box {
  @include size(400px, 350px);
  @include abs-center;
  @include flex-center(column);
  justify-content: space-evenly;
  background: white;
  border-radius: 40px;
  padding: 40px;
}

#popup-form {
  @extend #popup-box;
  @include size(400px, 280px);
}

#popup-loading {
  @extend #popup-box;
  @include size(260px);
}

#popup-loading-img {
  @include size(100px);
  animation: load 1.2s linear infinite;
  user-select: none;
  pointer-events: none;
}

#popup-icon {
  font-size: 72px;
  color: $color;
  animation: wiggle 2s infinite;
}

#popup-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popup-btn-single {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(0deg);
  }
}