@import '../../styles';

.homeBg{
  @include flex-center;
  background: url('../../img/home/home-bg.svg') center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.homecontent{
  display: flex;
  max-width: 1280px;
  width: 100%;
  font-size: 32px;
  margin-top: 50px;
    
  .txt-container{
    width: 50%;
    text-align: left;

    h1 {
      margin: 0;
      width: 100%;
    }
    p { width: 100% }
  }
  .img-container{
    width: 50%;
    object-fit: scale-down;
    
    img { @include size(600px) }
  }
}

