.homeBg{
    background: url('../../img/home/home-bg.svg') center center;
    height: 100vh;
    background-size: cover;
    margin-top: -105px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homecontent{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
    max-width: 1280px;
    width: 100%;
    font-size: 32px;
    margin-top: 50px;
    
    .txt-container{
        flex-wrap: wrap;
        width: 50%;
        h1{
            width: 100%;
            
            margin: 0;
            text-align: left;
        }
        p{
            width: 100%;
            text-align: left;
        }
    }
    .img-container{
        width: 50%;
        object-fit: scale-down;
        
        img{
            width: 600px;
            height: 600px;
        }
        
    }
}

