@import '../../index.scss';

.chat-box {
  @include fixed-size(100%, 500px);
  @include shadow;
  box-sizing: border-box;
  padding: 50px;
  background: white;
  border-radius: 40px;

  .room-info {
    text-align: left;

    header {
      font-size: 28px;
      font-weight: 500; 
    }
  
    p {
      color: $color;
      font-size: 20px;
    }
  }
  
  .room-chat {
    @include fixed-size(100%, 230px);
    word-wrap: break-word;
    text-align: left;
    overflow-y: scroll;

    .chat-box-message {
      color: #777;

      .username { color: $color }
    }
  }

  .chat-input {
    position: relative;
    height: 75px;
  
    input {
      background: white;
      float: left;
      width: 100%;
      height: 55px;
      box-sizing: border-box;
      padding: 0 70px 0 40px;
      margin-top: 10px;
      font-family: inherit;
      font-size: 20px;
      font-weight: 400;
      border: 1px solid lightgrey;
      border-radius: 30px;
      transition: .2s;
    
      &::placeholder {
        color: lightgrey;
        user-select: none;
      }
    
      &:focus {
        outline: none;
        border: 1px solid $color;
    
        &:hover { border: 1px solid $color }
    
        &::placeholder { color: transparent }
      }
    
      &:hover { border: 1px solid $black }
    }
  
    .icon-c {
      @include fixed-size(40px);
      position: absolute;
      top: 50%; right: -10px;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 10px;
      border-radius: 50%;

      .icon {
        @include abs-center;
        position: absolute;
        user-select: none;
        color: $color;
        font-size: 22px;
  
      }
      &:hover {
        cursor: pointer;
        background: gainsboro;
      }
    }
    
  }

}

