@import '../../index.scss';

.comment-box {
  @include size(100%, 500px);
  @include shadow;
  padding: 40px;
  background: white;
  border-radius: 40px;

  header {
    font-size: 28px;
    font-weight: 500;
  }

  .room-comment {
    @include size(100%, 300px);
    word-wrap: break-word;
    text-align: left;
    overflow-y: scroll;

    .box {
      @include size(95%, auto);
      @include shadow;
      background: white;
      margin: 5px;
      border-radius: 10px;
      padding: 15px;

      span {
        display: flex;
        align-items: center;

        img {
          @include size(30px);
          border-radius: 50%;
        }

        header {
          display: flex;
          align-items: center;
          font-size: 18px;
          color: $color;
          margin-left: 10px;

          img {
            @include size(20px);
            margin-right: 5px;
          }
        }
      }

      p {
        font-size: 16px;
      }

      label {
        color: lightgrey;
        font-size: 14px;
      }
    }
  }

  .chat-input {
    position: relative;
    height: 75px;

    input {
      background: white;
      float: left;
      width: 100%;
      height: 55px;
      box-sizing: border-box;
      padding: 0 70px 0 40px;
      margin-top: 10px;
      font-family: inherit;
      font-size: 20px;
      font-weight: 400;
      border: 1px solid lightgrey;
      border-radius: 30px;
      transition: .2s;

      &::placeholder {
        color: lightgrey;
        user-select: none;
      }

      &:focus {
        outline: none;
        border: 1px solid $color;

        &:hover {
          border: 1px solid $color
        }

        &::placeholder {
          color: transparent
        }
      }

      &:hover {
        border: 1px solid $black
      }
    }

    .icon-c {
      @include size(40px);
      @include flex-center;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translate(-50%, -50%);
      background: $color;
      padding: 10px;
      border-radius: 50%;

      .icon {
        user-select: none;
        color: white;
        font-size: 22px;
        transition: .2s;

      }

      &:hover {
        cursor: pointer;
      }
    }

  }

}

#show-earlier-btn {
  display: flex;
  font-family: inherit;
  padding: 10px;
  border: none;
  margin: auto;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background: $grey;
  }

  &:focus {
    outline: none;
  }
}