@import '../../styles';

.my-radio {
  @include size(100%, 55px);
  position: relative;

  input[type=radio] {
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;

    &:checked+label {
      color: $color;
      border: 1px solid $color;
      border-radius: 40px;
    }
  }

  label {
    @include flex-center;
    @include abs-center;
    @include size(100%);
    background: white;
    font-size: 22px;
    user-select: none;
    border: 1px solid lightgrey;
    border-radius: 40px;
    transition: .2s;

    &:hover {
      cursor: pointer;
      border: 1px solid $black;
    }
  }
}