@import '../../styles';
.room-page-bg{
  background: $gradient-white;
  padding-top: $nav-size;
  overflow-y: hidden;
}
.room-page-content {
  @include flex-center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 30px;
  height: $full-page;
  max-width: 1280px;
  margin: auto;

  .video-card {
    @include flex-center(column);
    @include fixed-size(830px, 750px);
    @include shadow;
    box-sizing: border-box;
    background: white;
    border-radius: 40px;

    .video {
      @include fixed-size(830px, 640px);
      background: $black;
      border-radius: 40px 40px 0 0;

      .embed-video {
        @include fixed-size(830px, 640px);
        border-radius: inherit;
        border: none;
      }
    }

    .video-menu {
      @include flex-center;
      justify-content: space-between;
      width: 100%;
      height: calc(750px - 640px);
      box-sizing: border-box;
      padding: 50px;

      .video-title {
        height: calc(750px - 640px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          font-size: 24px;
          font-weight: 500;
        }
        .name {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 400;
          color: $color;
        }
      }

      .btn-group {
        @include flex-center;
        width: 200px;
        justify-content: space-between;

        .btn {
          @include fixed-size(50px);
          position: relative;
          font-size: 22px;
          background: white;
          border-radius: 50%;
          transition: .2s;

          .icon { @include abs-center; }

          &:nth-child(1) { 
            border: 2px solid $color;
            color:  $color;
          }
          &:nth-child(2) { 
            border: 2px solid #FBB91E;
            color: #FBB91E;
          }
          &:nth-child(3) { 
            border: 2px solid #7921AD;
            color: #7921AD;
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .right-panel {

    .course-card {
      @include fixed-size(360px, 220px);
      @include shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      border-radius: 40px;
      margin-left: 30px;
      box-sizing: border-box;
      padding: 50px;
      position: relative;
  
      .course-detail {
        flex-wrap: wrap;
  
        .course-title {
          font-size: 28px;
          font-weight: 500;
        }
    
        .course-count {
          margin-top: 5px;
          font-size: 20px;
          color: lightgrey;
        }
      }

      footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: -7px;
      }
  
    }
  
    .chat-container {
      @include fixed-size(360px, 800px);
      margin: 30px;
      box-sizing: border-box;
    }
  }
}