@import '../../styles';

.room-page {
  background: url('../../img/bg/room-bg.jpg') center center;
  background-size: cover;
  padding: 40px 0;
  min-height: 100vh;
}

.room-content {
  max-width: 1280px;
  padding: 0 30px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

#video-container {
  @include flex-center(column);
  @include size(830px, 750px);
  @include shadow;
  background: white;
  border-radius: 40px;
  float: left;
  margin-bottom: 20px;
  position: relative;
}

#embed-video {
  @include size(100%, 640px);
  border-radius: inherit;
  border: none;
  background: $black;
  border-radius: 40px 40px 0 0;
}

#video-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video-teacher {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: $color;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px
}

#video-footer {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  height: calc(750px - 640px);
  box-sizing: border-box;
  padding: 50px;
}

#video-btn-group {
  @include flex-center;
  width: 200px;
  justify-content: space-between;
}

.room-btn {
  @include size(50px);
  position: relative;
  background: white;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;

  &:nth-child(1) {
    border: 2px solid $color;
    color: $color;

    &:hover {
      background: $red;
      color: white;
    }
  }

  &:nth-child(2) {
    border: 2px solid $blue;
    color: $blue;

    &:hover {
      background: $blue;
      color: white;
    }
  }

  &:nth-child(3) {
    border: 2px solid $purple;
    color: $purple;

    &:hover {
      background: $purple;
      color: white;
    }
  }

}

.room-btn-icon {
  @include abs-center;
  font-size: 26px;
  user-select: none;

  &.sm {
    font-size: 20px;
  }
}

#room-panel {
  @include size(360px, 750px);
  float: left;
}

#room-course-card {
  @include size(100%, 180px);
  @include shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 20px;

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }
}

#room-course-count {
  margin-top: 5px;
  font-size: 20px;
  color: lightgrey;
}

#room-course-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: -7px;
}

.room-like-btn {
  @include flex-center;
  @include size(80px, 50px);
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 40px;
  font-size: 18px;
  transition: .2s;
  cursor: pointer;

  &:hover {
    border: 1px solid $red;
  }

  &.active {
    border: 1px solid $red;
    background: $red;
    color: white;

    &:hover {
      border: 1px solid $red;
    }
  }
}

.room-like-btn-icon {
  color: $red;
  font-size: 22px;

  &.active {
    color: white;
    animation: heartbeat 1s;
  }
}

#comment-container {
  @include size(100%, auto);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.5);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1250px) {
  #video-container {
    @include size(100%, 650px);
  }

  .room-content {
    padding-bottom: 100px;
  }

  #room-panel {
    @include size(100%, auto);
    max-height: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .room-content {
    padding: 0;
  }

  #video-container {
    @include size(100%, 540px);
    justify-content: flex-start;
    border-radius: 0;
  }

  #embed-video {
    border-radius: 0;
    height: 360px;
  }

  #video-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    height: 140px;
  }

  #video-title {
    padding: 20px 30px;

    h6 {
      font-size: 22px;
      margin: 0;
    }
  }

  #video-btn-group {
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
  }

  .room-btn {
    @include size(80px, 40px);
    border-radius: 40px;
  }

  .room-btn-icon {
    font-size: 22px;

    &.sm {
      font-size: 18px;
    }
  }

  #room-course-card {
    border-radius: 0;
  }
}