@import '../../styles';

.room-content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  padding-top: $nav-size;
}

#video-container {
  @include flex-center(column);
  @include size(830px, 750px);
  @include shadow;
  background: white;
  border-radius: 40px;
  float: left;
  margin-bottom: 20px;
}

#embed-video {
  @include size(830px, 640px);
  border-radius: inherit;
  border: none;
  background: $black;
  border-radius: 40px 40px 0 0;
}

#video-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video-teacher {
  font-size: 18px;
  font-weight: 400;
  color: $color;
  cursor: pointer;
}

#video-footer {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  height: calc(750px - 640px);
  box-sizing: border-box;
  padding: 50px;
}

#video-btn-group {
  @include flex-center;
  width: 200px;
  justify-content: space-between;
}

.room-btn {
  @include size(50px);
  position: relative;
  font-size: 22px;
  background: white;
  border-radius: 50%;
  transition: .2s;

  &:nth-child(1) {
    border: 2px solid $color;
    color: $color;

    &.active {
      background: $color;
      color: white;
    }
  }

  &:nth-child(2) {
    border: 2px solid #FBB91E;
    color: #FBB91E;
  }

  &:nth-child(3) {
    border: 2px solid #7921AD;
    color: #7921AD;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.room-btn-icon {
  @include abs-center;
}

#room-panel {
  @include size(360px, 750px);
  float: left;
}

#room-course-card {
  @include size(100%, 220px);
  @include shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 40px;
  padding: 40px;
  position: relative;
  margin-bottom: 20px;
}

#room-course-count {
  margin-top: 5px;
  font-size: 20px;
  color: lightgrey;
}

#room-course-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: -7px;
}

#comment-container {
  @include size(100%, auto);
}