@import '../../index.scss';

.card {
  $blue: #9ac9fc;
  $yellow: #ffedb3;
  $red: #ef92be;
  $green: #60c6c6;
  $purple: #dccbf7;

  @include size(460px, 220px);
  @include shadow;
  background: #DDDDDD;
  box-sizing: border-box;
  float: left;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-top: 40px;
  transition: .2s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .imgCard {
    @include size(150px);
    background: transparent;
    border-radius: 40px;
    box-sizing: border-box;
    border: 7px solid white;
  }

  .txt {
    @include flex-center(column);
    height: 90%;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 20px;

    .title {
      flex-wrap: wrap;

      .heading {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .description {
        font-size: 20px;
      }
    }

    .tutor {
      font-size: 20px;
      text-align: left;
    }
  }

  &.Math {
    background: $blue
  }

  &.Science {
    background: $red
  }

  &.English {
    background: $yellow
  }

  &.Computer {
    background: $purple
  }
}