@import '../../styles';

.bubble-container {
  @include size(260px);
  background: url('../../img/profile-bubble.svg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 70px; right: -78px;
  transition: .2s;

  .content {
    @include flex-center(column);
    align-items: flex-start;
    width: 100%;
    line-height: 1.7em;
    padding: 70px 0 0 60px;

    .username {
      font-size: 22px;
      font-weight: bold;
    }

    .level { 
      color: $color;
      font-size: 14px;
    }

    .exp {
      @include size(140px, 5px);
      background: $color;
      margin-bottom: 10px;
    }

    .item { 
      @include flex-center;
      margin: 5px 0;

      .icon {
        @include size(30px);
        margin: -2px 5px 0 0;
      }
    }
  }

  &.hide {
    @extend .bubble-container;
    opacity: 0;
    height: 0;
    transform: scale(0);
  }
}

