@import '../../index.scss';

$nav-bg: rgba(255, 255, 255, 0.8);

nav {
  z-index: 1000;
  background: $nav-bg;
}

.nav-content {
  background: $nav-bg;
  max-width: 1280px;
  height: $nav-size;
  margin: auto;
  padding: 0 30px;
  display : flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  $size: 45px;
    
  ul {
    background: none;
    height: 100%;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li { font-size: 24px }

    .profileicon {
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: $main-color;
    }
  }

  .logo {
    display: flex;
    
    img {
      width: $size;
      height: $size;
      margin-top: 3px;
    }

    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  a {
    transition: .2s;

    &:link {
      text-decoration: none;
      color :black
    }
    
    &:visited {
      text-decoration: none;
      color: black;
    }
    
    &:hover {
      color: $main-color;
    }
      
    &:active {
      color: #9A5DDB;
    }
  }  
}


