@import '../../styles';

.find-page-bg {
  background: url('../../img/bg/bg-repeatable.jpg');
  background-size: contain;
  padding: $nav-size 0;
  min-height: 100vh;
}

.find-content {
  @extend .full-page-content;
  @include shadow;
  padding: 80px;
  padding-bottom: 110px;
  margin: $nav-size auto;
  background: white;
  border-radius: 40px;
  min-height: auto;
}

#find-header {
  @include flex-center;
  font-weight: 500;
  font-size: 44px;
  margin-bottom: 20px;
}

.all-room {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.see-more-btn {
  display: flex;
  margin: 40px auto;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  padding: 15px 20px;
  background: $color;
  color: white;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}

.search {
  position: relative;

  input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    padding: 0 80px 0 50px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    transition: .2s;

    &::placeholder {
      color: lightgrey
    }

    &:hover {
      border: 1px solid $black
    }

    &:focus {
      outline: none;
      border: 1px solid $color;

      &::placeholder {
        color: transparent
      }
    }
  }

  .icon {
    @include size(40px);
    @include flex-center;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: lightgrey;
    font-size: 20px;
    transition: .2s;

    &:hover {
      color: $color;
      cursor: pointer;
    }
  }
}

#search-option {
  opacity: 0;
  position: absolute;
  background: $black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  transition: .3s;
}

.icon:hover>#search-option {
  opacity: 1;
  display: block;
}