@import '../../styles';

.background-search{
  @include flex-center;
  background: url('../../img/background-room.svg') center center no-repeat; engine: "rework";
  background-size: cover;
  height:100vh;


}