@import '../../styles';
.create-page-bg {
    background: url('../../img/login/login.svg') center center no-repeat; engine: "rework";
    background-size: cover;
    height: $full-page;
    .create-content {
        max-width: 1280px;
        height: 100%;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        justify-content: flex-end;
    
        .create-form {
          @include flex-center(column);
          max-width: 410px;
          height: 70%;
    
          header {
            @include flex-center;
            width: 100%;
            color: $color;
            font-size: 42px;
            font-weight: bold;
          }
    
          form {
            @include size(100%, 350px);
            @include flex-center(column);
            justify-content: space-around;
    
            .tag-group {
              @include flex-center;
              justify-content: space-between;
              width: 100%;
            }
    
            .private-group {
              @extend .tag-group;
            }
          }
          footer {
            @include flex-center;
            width: 100%;
            color: $color;
            font-size: 20px;
            //font-weight: bold;
          }
        }
      }

}