
$gradient: linear-gradient(60deg, #EE438A 55%, #f7c438);
$gradient-alt: linear-gradient(60deg, #ee428b 60%, #ffda00);
$gradient-white: linear-gradient(white, #F3F4FA);

$color: #FF0062;
$color-alt: #ee428b;
$black: #252E38;

$nav-size: 120px;
$full-page: calc(100vh - #{$nav-size});

@mixin shadow($blur: 15px) { box-shadow: 0 3px $blur rgba(0, 0, 0, 0.16) }

@mixin border($stroke: 1px) {
  box-shadow: inset 0px 0px 0px $stroke $color;
}

@mixin hover { box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) }

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin fixed-size($width, $height: $width) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin abs-center { // parent must use 'position: relatives'
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center($direction: row) { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
