@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variables Declaration */
$main-gradient: linear-gradient(to left, #bc8af1, #d4b6f9);
$main-color: #bc8af1;
@function main-border($stroke) {
  @return inset 0px 0px 0px $stroke $main-color;
}